{% extends "base.html" %}
{% block title %}Form {{vars.method | default("GET")}} - {% endblock title %}
{% block main %}
  <h1>Form {{vars.method | default("GET")}}</h1>
  <form
    action="/debug/{{vars.method | default("GET")}}"
    method="{{vars.method | default("GET")}}"
  >
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="john.doe@gmail.com"
    >
    <label for="id">User id (read only)</label>
    <input
      readonly=""
      name="id"
      id="id"
      value="04D6H89Z"
    >
    <label for="disabled">Random disabled input</label>
    <input
      disabled=""
      name="disabled"
      id="disabled"
      placeholder="Because why not?"
    >
    <label for="about">About me</label>
    <textarea
      name="about"
      id="about"
      placeholder="I am a textarea..."
    ></textarea>
    <label>Choose a Doe:</label>
    <div>
      <input type="radio" id="john" name="drone" value="john" checked="">
      <label for="john">John Doe</label>
    </div>
    <div>
      <input type="radio" id="jane" name="drone" value="jane" checked="">
      <label for="jane">Jane Doe</label>
    </div>
    <div>
      <input type="radio" id="johnny" name="drone" value="johnny" checked="">
      <label for="johnny">Johnny Doe</label>
    </div>
    <br>
    <input type="checkbox" name="remember" id="remember" checked="">
    <label for="remember">Remember me</label>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  </form>
{% endblock main %}
