{% extends "base.html" %}
{% block title %}Vehicles{% endblock title %}
{% block main %}
  <h1>Star Wars Vehicle</h1>
  {% set data = get('https://swapi.dev/api/vehicles/').body | parse %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Class</th>
        <th>Passengers</th>
        <th>Crew</th>
        <th>Length</th>
        <th>Cost (credits)</th>
        <th>Capacity</th>
        <th>Consumables</th>
        <th>Max ATM speed</th>
        <th>Films</th>
        <th>Pilots</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data.results %}
        <tr>
          <td>{{row.name}}</td>
          <td>{{row.model}}</td>
          <td>{{row.manufacturer}}</td>
          <td>{{row.vehicle_class}}</td>
          <td>{{row.passengers}}</td>
          <td>{{row.crew}}</td>
          <td>{{row.length}}</td>
          <td>{{row.cost_in_credits}}</td>
          <td>{{row.cargo_capacity}}</td>
          <td>{{row.consumables}}</td>
          <td>{{row.max_atmosphering_speed}}</td>
          <td>{{row.films | length}}</td>
          <td>{{row.pilots | length}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
