<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
  />
  <title>{% block title %}{% endblock title %} - MiniRPS</title>
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/demo">Demo</a> |
    <a href="/films">Films</a> |
    <a href="/people">People</a> |
    <a href="/planets">Planets</a> |
    <a href="/species">Species</a> |
    <a href="/starships">Starships</a> |
    <a href="/vehicles">Vehicles</a> |
    <a href="https://github.com/marcodpt/minirps">Github</a>
  </nav>
  <main>{% block main %}{% endblock main %}</main>
  <footer>
    <a href="https://github.com/marcodpt/minirps">Github</a>
  </footer>
</body>
</html>
