{% extends "base.html" %}
{% block title %}Films{% endblock title %}
{% block main %}
  <h1>Star Wars Films</h1>
  {% set rows = data.films.json.results %}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Episode</th>
        <th>Director</th>
        <th>Producer</th>
        <th>Release</th>
        <th>Characters</th>
        <th>Planets</th>
        <th>Starships</th>
        <th>Vehicles</th>
        <th>Species</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{row.title}}</td>
          <td>{{row.episode_id}}</td>
          <td>{{row.director}}</td>
          <td>{{row.producer}}</td>
          <td>{{row.release_date}}</td>
          <td>{{row.characters | length}}</td>
          <td>{{row.planets | length}}</td>
          <td>{{row.starships | length}}</td>
          <td>{{row.vehicles | length}}</td>
          <td>{{row.species | length}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
