{% extends "base.html" %}
{% block title %}Periodic Table{% endblock title %}
{% block main %}
  <h1>Periodic Table</h1>
  {% set rows = read("/data.json") | parse %}
  <table>
    <tbody>
      {% for period in range(0, rows | map(attribute="Period")| max) %}
        <tr>
          {% for group in range(0,
            rows | map(attribute="Group")| max
          ) %}
            <td>
              {% for row in rows %}
                {% if row.Group == group + 1 and row.Period == period + 1 %}
                  <a href="element/{{row.Symbol}}">{{row.Symbol}}</a>
                {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
